#resume-link {
	color: black;
	text-decoration: underline;
}

button {
	border: none;
	text-align: center;
	padding: 10px;
	font-size: medium;
	background-color: inherit;
}	

#about > p {
	font-size: 65px;
	color: #f8d1e5;
	text-shadow:#E4DCE0 1px 0 50p;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;

	background-image: url(../../comp.png);
    background-blend-mode: soft-light;
    background-size: contain;
    background-size: 230px;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 3rem;
	margin-bottom: 3rem;
}

#para-2 {
	color: black;
}

#about {
	background-image: url(../../binary.png);
	background-repeat: no-repeat;
	/* background-size: auto; */
	background-size: 530px;
	background-position: left;
	/* background-color: #fcf3df; */
}

@media only screen and (max-width: 600px) {
	#about > p {
		font-size: 32px;
		background-image: url(../../comp.png);
		background-blend-mode: soft-light;
		background-size: contain;
		background-size: 230px;
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}