#email-link {
    color: black;
	text-decoration: none;
}

#email-link:hover {
    text-decoration: underline;
}

/* #contact-page {
    background-image: url(../../codeyegif.gif);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
} */