.home {
    background-image: url("./codegif3.gif");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

#greeting-display{
    font-family: raisonne;
    font-size: 10vh;
}
