.home-page {
    height: 100vh;
    background-image: url(../../vatp.gif);
    background-size: cover;
    background-attachment: fixed;
}

#greeting-display{
    font-family: raisonne;
    font-size: 65px;
}

.greetings {
    z-index: 1;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    /* transform: rotate(90deg); */
}

#name, #logo, #title {
    position: relative;
    z-index: 555;
}

#line {
    width: 30%;
    border: 0.1px solid black;
}


@media only screen and (max-width: 600px) {

    .home-page {
        /* height: 100vh; */
        background-image: url(../../vatp.gif);
        background-size: 350px;
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    #greeting-display{
        font-size: 32px;
    }

}

