.home-page {
    height: 100vh;
}

#greeting-display{
    font-family: raisonne;
    font-size: 250px;
}

.greetings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    z-index: 333;
}

#name, #logo, #title {
    position: relative;
    z-index: 555;
}

.background {
	background-image: url(../../comp.png);
    background-blend-mode: soft-light;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    margin-top: 3rem;
}
