footer {
	font-family: apercu;
	color: black;
	font-size: medium;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#menu-outer {
	height: 84px;
	/* background: url(./img/github.png) repeat-x; */
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}


.bar {
	background-color: #ecdcc9;
}