footer {
	font-family: apercu;
	color: black;
	font-size: small;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

li {
	padding: 10px;
	display:inline;
    display:inline-block;
	zoom:1;
}