@font-face {
	src: url(./fonts/Apercu/Apercu\ Pro\ Regular.otf);
	font-family: apercu;
}

@font-face {
	src: url(./fonts/Apercu/Apercu\ Pro\ Bold.otf);
	font-family: apercu-bold;
}

@font-face {
	src: url(./fonts/Raisonne/Raisonne.otf);
	font-family: raisonne;
}

* {
	box-sizing: border-box;
}

body {
	font-family: apercu;
	color: #28282a;
	background-color: #fcf3df;
	cursor: url(./binary.png), 10 3 pointer;
	font-size: 21.42px;
	/* background-color: #f1dfd1;
	background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%); */
}

/* .wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
} */

h1 {
	font-family: apercu-bold;
	font-size: 130px;
}

p {
	font-family: raisonne;
	font-size: 18.57px;
}

.myContainer {
	text-align: center;
	position: relative;
	padding-top: 140px;
	padding-bottom: 140px;
}