@font-face {
	src: url(./fonts/Apercu/Apercu\ Pro\ Regular.otf);
	font-family: apercu;
}

@font-face {
	src: url(./fonts/Apercu/Apercu\ Pro\ Bold.otf);
	font-family: apercu-bold;
}

@font-face {
	src: url(./fonts/Raisonne/Raisonne.otf);
	font-family: raisonne;
}

* {
	box-sizing: border-box;
}

body {
	font-family: apercu;
	color: #28282a;
	background-color: #ffe2e1;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
}

h1 {
	font-family: apercu-bold;
	font-size: 100px;
}

p {
	font-family: raisonne;
}

.myContainer {
	text-align: center;
	position: relative;
	padding-top: 140px;
	padding-bottom: 140px;
}