@font-face {
	src: url(./fonts/Apercu/Apercu\ Pro\ Regular.otf);
	font-family: apercu;
}

@font-face {
	src: url(./fonts/Apercu/Apercu\ Pro\ Bold.otf);
	font-family: apercu-bold;
}

@font-face {
	src: url(./fonts/Raisonne/Raisonne.otf);
	font-family: raisonne;
}

* {
	box-sizing: border-box;
}

h1 {
	font-family: apercu-bold;
	font-size: 130px;
}

h6 {
	font-size: 21.42px;
	/* font-family: raisonne; */
}

body {
	font-family: apercu;
	color: #28282a;
	background-image: linear-gradient(to bottom right, #fcf3df , white);
	/* background-color: #fcf3df; */
	cursor: url(./binary.png), 10 3 pointer;
	font-size: 21.42px;
}

p {
	font-family: raisonne;
	font-size: 18.57px;
}

.myContainer {
	text-align: center;
	position: relative;
	padding-top: 140px;
	padding-bottom: 140px;
}