.navbar-brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.linkedpages-bck {
	font-family: apercu;
	color: white;
	background-image: none;
	
}

#navbar {
	margin: 30px;
	height: 70px;
	position: sticky;
	top: 0;
}

.nav-link {
	color: black;
}

#current-link {
	color: black;	
}

.nav-link:hover {
	color: black;
	background-size: contain;
	background-repeat: no-repeat;
}