.linkedpages-bck {
	font-family: apercu;
	color: white;
	background-image: none;
	
}

#navbar {
	position: sticky;
	top: 0;
}

.nav-link {
	color: black;
	margin: 10px;
}

.nav-link:hover {
	color: black;
	background-size: contain;
	background-repeat: no-repeat;
}

.left-side {
	background-color: #ecdcc9;
}

/* @media screen and (max-width: 760px) {

	#navbar {
		width: 100%;
	}
} */
