.nav-links ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-links a {
	color: inherit;
	padding: 1rem;
	text-decoration: none;
}

.nav-links a:hover {
	color: black;
	text-shadow: currentColor 20px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

@media only screen and (max-width: 600px) {
	header {
	  justify-content: center;
	}
  }
