#resume-link {
	color: black;
	text-decoration: underline;
}

.linksContainer {
	text-align: center;
}

.linked-pages-text {
	color: black;
}

.container {
	position: relative;
	width: 300px;
	height: 300px;
}
  
.text {
	position: absolute;
	height: 30%;
	text-align: center;
	width: 100%;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 30px;
	opacity: 0;
	background-color: #e1d4c0;
}

.inside-text, .inside-text:hover {
	color: black;
}
  
.folio-image {
	display: block;
	width: 300px;
	height: 300px;
	margin: auto;
	padding: auto;
}

#app-2-details {
	background-color: gainsboro;
	text-align: center;
	opacity: 0;
}

/* Hover states */

#app-1:hover #text-1, #app-2:hover #text-2, #app-3:hover #text-3, #app-4:hover #text-4 {
	opacity: 1;
}