#resume-link {
	color: black;
	text-decoration: underline;
}

.linksContainer {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	/* background-color: white; */
	/* background-color: #f1dfd1; 
	background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%); */
}

.linked-pages-text {
	color: black;
}

.container {
	position: relative;
}
  
.text {
	position: absolute;
	height: 30%;
	text-align: center;
	width: 100%;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 30px;
	opacity: 0;
	font-family: apercu-bold;
	background-color: rgba(255, 255, 255, 0.678);
	padding: 1rem;
}

.inside-text, .inside-text:hover {
	color: black;
}
  
.folio-image {
	display: block;
	width: 300px;
	height: 300px;
	margin: auto;
	padding: auto;
}

#app-1-details, #app-2-details, #app-3-details, #app-4-details {
	/* border-width: thin;
	border-style: solid; */
	/* border-color: #e1d4c0; */
	text-align: center;
	/* margin: auto; */
    width: 100%;
	opacity: 0;
	font-size: medium;
	/* box-shadow: 10px 10px black; */
	padding: 1rem 1rem;
	margin: 3rem;
	
}

/* Hover states */

#app-1:hover #text-1, #app-2:hover #text-2, #app-3:hover #text-3, #app-4:hover #text-4 {
	opacity: 1;
}

#app-1-container:hover #app-1-details, #app-2-container:hover #app-2-details, #app-3-container:hover #app-3-details, #app-4-container:hover #app-4-details  {
	opacity: 1;
}

@media only screen and (max-width: 600px) {
	#app-1-details, #app-2-details, #app-3-details, #app-4-details {
		width: fit-content;
		opacity: 1;
	}
	#app-1 #text-1, #app-2 #text-2, #app-3 #text-3, #app-4 #text-4 {
		opacity: 1;
	}
}
